<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
	<style type="text/css">
		body{
			padding-top: 40px;
		}
	</style>
</head>
<body>	
<div id="app" class="container">
	<div class="columns">
		<div class="column is-4">
				<modal title="John Snow" wallpaper="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9e4F0fvrLmaXrfGyCFQF8JZwRNBIlZSBdRPXOQJSByMp-4zBP" icon="http://images.math.cnrs.fr/IMG/png/section8-image.png">
					u r nuw mi fren
			  	</modal>
			</div>
			<div class="column is-4">
				<modal title="John Snow" wallpaper="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9e4F0fvrLmaXrfGyCFQF8JZwRNBIlZSBdRPXOQJSByMp-4zBP" icon="http://images.math.cnrs.fr/IMG/png/section8-image.png">
					u r nuw mi fren
			  	</modal>
			</div>
		</div>	
		</div>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="message.js"></script>

	</script>

</body>
</html>